<!--Partial utilizada para minimizar codigo-->
<div class="card">
    <span>
        <i class="<%= icon %>"></i>
    </span>
    <h4><%= title %></h4>
    <p><%= description %></p>
    <%= link_to link_path do %>
        Código <i class="ri-arrow-right-line"></i>
    <% end %>
</div>
