<section class="socialsection">
    <h2 class="social-title">Mande Uma Mensagem!</h2>
    <div class="social-container">
        <div class="social-item">
            <div class="social-content">
                <p class="ico"><i class="ri-instagram-line"></i></p>
                <h2 class="social-content-title">Instagram</h2>
            </div>
        </div>
        <div class="social-item">
            <div class="social-content">
                <p class="ico"><i class="ri-github-line"></i></p>
                <h2 class="social-content-title">GitHub</h2>
            </div>
        </div>
        <div class="social-item">
            <div class="social-content">
                <p class="ico"><i class="ri-linkedin-box-line"></i></p>
                <h2 class="social-content-title">Linkedin</h2>
            </div>
        </div>
    </div>
</section>