<section class="socialsection">
    <h2 class="social-title">Mande Uma Mensagem!</h2>
    <div class="social-container">
        <% @socialsnet.each do |socialnet| %>  
            <%= link_to socialnet[:sociallink], target: :blank, class: "social-item", title: "Perfil #{socialnet[:title]}" do %>
                <div class="social-content">
                    <p class="ico"><i class="<%= socialnet[:socialclass] %>"></i></p>
                    <h2 class="social-content-title"><%= socialnet[:title] %> </h2>
                </div>
            <% end %>
        <% end %>
    </div>
</section>