<section class="cardview">
    <h2 class="cardview-title">Meus Projetos</h2>
    <div class="cardview-container">
        <% @projetos.each do |projeto| %>
            <div class="cardview-item">
                <%= link_to "https://github.com/carlosnotlemos" do %>
                    <div class="card-image"> <%= image_tag "#{projeto.image_url}", alt: "Imagem do projeto de portfólio"%> </div>
                    <div class="cardview-content">
                        <%= content_tag(:p, projeto.language)%>
                        <%= content_tag(:h4, projeto.description)%>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>
</section>