<section class="cardview">
    <h2 class="cardview-title">Meus Projetos</h2>
    <div class="cardview-container">
        <div class="cardview-item"> <!--Salvar como binario e codificar com base64-->
            <%= link_to root_path do %><!--Integração com banco de dados-->
                <div class="card-image"> <%= image_tag "testecard.png", alt: "@imagemproject"%> </div>
                <div class="cardview-content">
                    <p>ruby on rails</p>
                    <h4>projeto portifolio feito em ruby on rails, ruby, html, css e utilizando 
                        imagem docker
                    </h4>
                </div>
            <% end %>
        </div>
    </div>
</section>