@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #4a403d; /* Cor de fundo principal (marrom escuro) */
    color: #fff1c1; /* Cor clara para o texto */
}

nav{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-logo{
    max-width: 80px;
}

.nav-icon i {
    font-size: 3rem;
    color: #ea804c;
    transition: color 0.3s ease;
}
  
.nav-icon:hover i {
    border-color: #fff1c1;
    color: #e29c78
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff1c1; /* Cor clara para os links */
    font-weight: 500;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #ea804c; /* Cor laranja suave para os links */
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 70%;
}

.btn{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff1c1; /* Cor clara para o texto do botão */
    background-color: #ea804c; /* Cor laranja suave para os botões */
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: #ea814c93; /* Cor no hover */
    border-color: #fff1c1;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 2rem;
}

.blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px #facf7d; /* Amarelo pastel vibrante para o blur */
    z-index: -100;
}

header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .content h4{
    margin-bottom: 1rem;
    color: #a69a90; /* Cinza claro para o subtítulo */
    font-size: 1rem;
    font-weight: 600;
}

header .content h1{
    margin-bottom: 1rem;
    color: #fff1c1; /* Cor clara para o título principal */
    line-height: 4rem;
    font-weight: 700;
}

header .content h1 span{
    color: #ea804c; /* Laranja suave para o destaque no título */
    font-size: 2.9rem;
}

header .content p{
    color: #fff1c1; /* Cor clara para o texto */
    margin-bottom: 2rem;
    
}

header .image{
    position: relative;
}

header .image::before{
    content: 'o';
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-54%);
    font-size: 60rem;
    font-weight: 400;
    line-height: 21rem;
    color: #ea804c;
    opacity: 0.9;
    z-index: -100;
}

header .image img{
    max-width: 400px;
    margin: auto;
}

section .header{
    margin-bottom: 1rem;
    color: #fff1c1;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.features{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.features .card{
    background-color: #ea804c;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.features .card:hover{
    background-color: #ea814c93;
    border-color: #fff1c1;
}

.features .card span{
    display: inline-block;
    background-color: #fff1c150;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    border-radius: 5px;
    color: #fff1c1;
}

.features .card h4{
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.features .card p{
    color: #fff1c1ad;
    margin-bottom: 1rem;
}

.features .card a{
    color: #fff1c1;
    transition: all 0.3s ease;
}

.features .card a:hover{
    color: #ea804c;
}

footer .header{
    margin: auto;
    text-align: center;
    color: #fff1c1ad;
    font-size: 0.8rem;
}