@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #4a403d; /* Cor de fundo principal (marrom escuro) */
    color: #fff1c1; /* Cor clara para o texto */
}

nav{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-logo{
    max-width: 80px;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff1c1; /* Cor clara para os links */
    font-weight: 500;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #ea804c; /* Cor laranja suave para os links */
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 70%;
}

.btn{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff1c1; /* Cor clara para o texto do botão */
    background-color: #ea804c; /* Cor laranja suave para os botões */
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: #facf7d; /* Cor amarela pastel no hover */
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px #facf7d; /* Amarelo pastel vibrante para o blur */
    z-index: -100;
}

header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .content h4{
    margin-bottom: 1rem;
    color: #a69a90; /* Cinza claro para o subtítulo */
    font-size: 1rem;
    font-weight: 600;
}

header .content h1{
    margin-bottom: 1rem;
    color: #fff1c1; /* Cor clara para o título principal */
    line-height: 4rem;
    font-weight: 700;
}

header .content h1 span{
    color: #ea804c; /* Laranja suave para o destaque no título */
    font-size: 2.9rem;
}

header .content p{
    color: #fff1c1; /* Cor clara para o texto */
    margin-bottom: 1rem;
}

header .image{
    position: relative;
}

header .image img{
    max-width: 400px;
    margin: auto;
}
