.sectioncontainer {
  display: flex;
}
.sidebar-container {
  width: 15%;
  height: 100vh;
  background: #222;
  padding: 20px;
  transition: width 0.3s ease-in-out;
}
.sidebar-container.collapsed {
  width: 0;
  padding: 0;
  overflow: hidden;
}
.sidebarlist{
  list-style: none;
  margin-bottom: 70vh;
  padding: 1rem 4rem;
}
.sidebarlist li a{
  color: #fff1c1;
}
.sidebar-user {
  margin-top: 1rem;
  font-size: 14px;
  color: green;
}
.sidebarhide-btn{
  background-color: #222;
  font-size: 1.5rem;
  height: 100vh;
}
.container-title{
  margin: 0 50vh;
}
.form-container{
  margin: 0 auto;
}
.hidden {
  display: none;
}
/*Aréa de estilização da tabela*/
.table {
  width: 100%;
  border-collapse: collapse; /* Para evitar bordas duplicadas */
  margin-top: 20px; /* Espaço no topo */
  margin-bottom: 20px; /* Espaço no fundo */
}

.table th, .table td {
  padding: 15px; /* Espaçamento interno nas células */
  text-align: left; /* Alinha o texto à esquerda */
}

.table th {
  background-color: #0e0808; /* Cor de fundo para o cabeçalho */
  border-bottom: 2px solid #b92626; /* Linha abaixo do cabeçalho */
}

.table tr:nth-child(even) {
  background-color: #410505; /* Cor alternada nas linhas */
}

.table td {
  border-bottom: 1px solid #ddd; /* Linha separadora nas células */
}

.btn-edit-data{
  margin-bottom: 1rem;
}


/* Formulário de Formações 
<div id="form-formacoes" class="form-section" data-hide-target="formFormacoes" style="display: none;">
  <h3>Adicionar Nova Formação</h3>
  <%= form_with url: "#", method: :post, data: { turbo: false } do |form| %>
    <div class="form-group">
      <%= form.label :title, "Título da Formação" %>
      <%= form.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :description, "Descrição" %>
      <%= form.text_area :description, class: "form-control" %>
    </div>
    <%= form.submit "Adicionar", class: "btn" %>
  <% end %>
</div>

<div id="TabelaFormacoes" data-hide-target="tabelaf">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Formação</th>
        <th>Descrição</th>
        <th>Data</th>
        <th>Concluido</th>
        <th>Alterar</th>
      </tr>
    </thead>
    <tbody>
      <% @formacoes.each do |formacao| %>
        <tr>
          <td><%= formacao[:id] %></td>
          <td><%= formacao[:title] %></td>
          <td><%= formacao[:description] %></td>
          <td><%= formacao[:due_date]%></td>
          <td> <%= formacao[:active]%> </td>
          <td>
            <%="Editar"%>
            <%="Excluir"%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= form_with model: @projeto, url: admin_dashboard_index_path(project_id: @projeto.id),
       method: @projeto.persisted? ? :patch : :post, local: false do |form| %>

        <div class="form-group">
          <%= form.label :language, "Linguagem utilizada: " %>
          <%= form.text_field :language, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :description, "Descrição: " %>
          <%= form.text_area :description, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :image_url, "Link: " %>
          <%= form.text_field :image_url, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :date_p, "Data: " %>
          <%= form.datetime_field :date_p, class: "form-control" %>
        </div>
        <%= form.submit @projeto.persisted? ? "Salvar Alterações" : "Adicionar", class: "btn" %>
      <% end %>
      
      

*/
